@model AdminListThemesViewModel

@{
    ViewData["Title"] = "Themes Administration";
}

<h2>@ViewData["Title"] 
    <span class="pull-right"><a class="btn btn-lg btn-primary" asp-controller="Themes" asp-action="Create">Add Theme</a></span>
</h2>

<table class="table table-hovered">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Range
            </th>
            <th>
                Projections
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var theme in Model.Themes)
        {
            <tr>
                <td>
                    @theme.Title
                </td>
                <td>
                    @theme.StartDate.ToShortDateString() - 
                    @theme.EndDate.ToShortDateString()
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="Themes" asp-action="Index" asp-route-page=@Model.PreviousPage>&laquo;</a>
        </li>
        @if (Model.PreviousPage != Model.CurrentPage)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Themes" asp-action="Index" asp-route-page=@Model.PreviousPage>
                    @Model.PreviousPage
                </a>
            </li>
        }

        <li class="page-item active">
            <a class="page-link" asp-controller="Themes" asp-action="Index" asp-route-page=@Model.CurrentPage>
                @Model.CurrentPage
            </a>
        </li>
        @if (Model.CurrentPage != Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Themes" asp-action="Index" asp-route-page=@Model.NextPage>
                    @Model.NextPage
                </a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" asp-controller="Themes" asp-action="Index" asp-route-page=@Model.NextPage>&raquo;</a>
        </li>
    </ul>
</div>